<div class="grain"></div>
{>components.base-header}
<main>
  {>content}
  <ul>
    {for item in contentUrls}
    <li>
      <a href="{item.url}">{item.name}</a>
    </li>
    {/for}
  </ul>
</main>
{>components.base-footer}