/* Basic styles */
body {
	background: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-body);
}

p > img {
	border-radius: var(--border-radius);
}

mark,
code,
kbd,
samp {
  padding: 0.125rem 0.25rem;
  color: inherit;
}

figure {
  margin: 0;
  padding: 0;
}

form {
  display: block;
  border: 0.125rem solid var(--color-dark);
  border-radius: var(--border-radius);
  padding: 0.5rem;
}

fieldset {
  border: 0.125rem solid var(--color-dark);
  border-radius: var(--border-radius);
}

input,
label,
select,
textarea {
  display: block;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
}

input,
select,
textarea {
  border: 0.125rem solid var(--color-dark);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

input:not([type="color"]),
select,
textarea {
  padding: 0.5rem 1rem;
}

audio,
video,
input:not([type="radio"]):not([type="checkbox"]):not([type="color"]),
select,
meter,
progress,
textarea {
  width: 18rem;
  max-width: 100%;
}

video {
  background-color: var(--color-dark);
}

label {
  margin-bottom: 0.25rem;
}

table {
  display: inline-block;
  padding: 0;
  border: 0.125rem solid var(--color-dark);
  border-radius: var(--border-radius);
  border-spacing: 0;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

caption {
  background: var(--color-light);
  text-align: left;
}

caption,
td,
th,
tr {
  padding: 0.5rem 1rem;
}

thead {
  border-collapse: collapse;
  border-radius: var(--border-radius);
  margin: 0;
  padding: 0;
}

blockquote {
  margin: auto;
}

blockquote > p {
  padding-left: 1rem;
  border-left: 0.25rem solid var(--color-dark);
}

hr {
  border: 0.05rem solid;
}

button,
.button {
  position: relative;
  color: var(--color-dark);
  font-family: var(--font-body);
  padding: 0.5rem 1rem;
  background: transparent;
  border: 0.125rem solid;
  border-radius: 3rem;
  text-decoration: none;
	clip-path: inset(0 0 round 3rem);
  transition: color 0.1s, border-color 0.1s;
}

.button:hover,
.button:focus {
  color: var(--color-dark);
  border-color: transparent;
}

.button::after {
	content: " ";
	display: block;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0, 0);
	background: var(--color-accent);
	height: 0%;
  padding: 50% 0;
	width: 105%;
	border-radius: 50%;
	transition: transform 0.2s cubic-bezier(0.0, 0.2, 0.2, 1.0);
}

.button:hover::after,
.button:focus::after {
	transform: translate(-50%, -50%) scale(1, 1);
}
