/* Reusable components */

.centered {
	text-align: center;
}

.unrounded img {
	border-radius: 0;
}

.intro {
	background: var(--color-dark);
	color: var(--color-light);
	padding: 1rem 0;
	margin-bottom: 2rem;
	overflow-x: hidden;
}

.intro a {
	color: var(--color-light);
}

.intro mark {
	color: var(--color-dark);
}

.intro > p,
.intro > blockquote {
	margin-left: 0;
	margin-right: 0;
}

.photograph {
	max-width: 40rem;
}

.photograph + .photograph {
	margin-top: 1.5rem;
}

.photograph > img {
	vertical-align: top;
	border-radius: var(--border-radius);
}

.photograph::before {
	content: none;
}

.breadcrumb {
	margin-bottom: 3rem;
}

/* Cards */

.card-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	gap: 1rem;
}

.card-list > li {
	display: inline-block;
	position: relative;
}

.card-list > li::before {
	content: none;
}

.card-list a {
	width: 100%;
	text-decoration: none;
	display: inline-block;
	border: 0.2rem solid var(--color-accent);
	transition: background-color 0.15s, border-color 0.15s, color 0.15s;
	border-radius: var(--border-radius);
	padding: 0.5rem;
	background: var(--color-accent);
	text-align: center;
}

.card-list a:hover,
.card-list a:focus {
	border-color: var(--color-shadow);
	background-color: var(--color-light);
}

.card-list img {
	display: block;
	position: relative;
	margin: 0 auto 0.5rem;
	max-height: 5rem;
	width: auto;
	transition: transform 0.3s cubic-bezier(0.0, 0.2, 0.2, 1.0);
	transform: translate(0, 0);
}

.card-list a:hover img,
.card-list a:focus img {
	transform: translateY(0.125rem);
}

.card-list span {
	display: inline-block;
	position: relative;
	padding: 0.25rem 0.5rem;
	background-color: var(--color-light);
	color: var(--color-dark);
	transition: transform 0.3s cubic-bezier(0.0, 0.2, 0.2, 1.0);
	transform: translate(0, 0);
	border-radius: var(--border-radius);
	clip-path: inset(0 0 round 1rem);
}

.card-list span::after {
	content: " ";
	display: block;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0, 0);
	background: var(--color-accent);
	height: 0%;
  padding: 50% 0;
	width: 100%;
	border-radius: 50%;
	transition: transform 0.2s cubic-bezier(0.0, 0.2, 0.2, 1.0);
}

.card-list a:hover span,
.card-list a:focus span {
	transform: translateY(-0.125rem);
}

.card-list a:hover span::after,
.card-list a:focus span::after {
	transform: translate(-50%, -50%) scale(1, 1);
}