/* Base footer */
.base-footer {
	background: var(--color-dark);
	color: var(--color-light);
	padding-bottom: 1rem;
	margin-top: 3rem;
}

.base-footer a {
	color: var(--color-light);
}

.base-footer a:not(.button):hover,
.base-footer a:not(.button):focus {
	color: var(--color-accent);
}

.base-footer__wrapper {
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;
	padding: 1rem 4rem 5rem;
	background: repeat-x url("/assets/images/frame.png") center bottom 0.75rem;
	background-size: 4rem auto;
}

@media all and (max-width: 48rem) {
	.base-footer__wrapper {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media all and (max-width: 34rem) {
	.base-footer__wrapper {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.base-footer__text {
	width: 100%;
	text-align: center;
	padding: 0;
}

.base-footer__text + .base-footer__text {
	margin-top: 0.5rem;
}

.base-footer__nav {
	display: flex;
	flex-wrap: wrap-reverse;
	width: 100%;
	margin: 1rem 0;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	gap: 1rem;
}

@media all and (max-width: 28rem) {
	.base-footer__nav {
		justify-content: center;
	}
}

.base-footer__links {
	margin: 0;
}

.base-footer__nav a {
	color: var(--color-light);
	text-decoration: none;
}

.base-footer__webrings {
	margin: 1rem 0 2rem;
	padding: 0.5rem 1rem;
	border: 0.125rem solid var(--color-shadow);
}

.xxiivv-logo {
	height: 1.5rem;
	width: 1.5rem;
	padding-right: 0.2rem;
	padding-bottom: 0.2rem;
}