/* Base header */
.base-header {
	padding: 0.5rem 0;
	background: var(--color-dark);
	color: var(--color-light);
}

.base-header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: start;
	margin: auto;
	padding: 1rem 4rem;
	background: repeat-x url("/assets/images/frame.png") center 0.75rem;
	background-size: 4rem auto;
}

@media all and (max-width: 48rem) {
	.base-header__wrapper {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media all and (max-width: 34rem) {
	.base-header__wrapper {
		padding: 1rem;
	}
}

.base-header p {
	margin: 0;
	padding: 0;
}

.base-header__link {
	display: inline-block;
	color: var(--color-shadow);
	text-decoration: none;
}

.base-header__link-logo {
	display: inline-block;
	color: var(--color-light);
	padding: 0 0.5rem;
	background: var(--color-dark);
}

.base-header__title-left,
.base-header__title-right {
	margin-top: 3.5rem;
	color: var(--color-shadow);
}

.base-header__title-left {
	transform: rotate(-90deg) translateY(-0.5rem);
}

.base-header__title-right {
	transform: rotate(90deg) translateY(-0.5rem);
}

.base-header__link:hover,
.base-header__link:focus {
	text-decoration: underline;
	color: var(--color-accent);
}

.base-header__logo {
	height: 3rem;
	width: 3rem;
	padding: 0.25rem;
	vertical-align: middle;
	fill: var(--color-light);
}

.base-header__link:hover .base-header__logo,
.base-header__link:focus .base-header__logo {
	fill: var(--color-accent);
}

.base-nav {
	text-align: center;
	padding: 0 0.5rem;
	margin-top: -0.5rem;
}

.base-nav__list {
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.base-nav__item {
	position: relative;
}

.base-nav__link {
	display: inline-block;
	width: 4rem;
	text-decoration: none;
	border-radius: 3rem;
	padding: 0.6rem 0.5rem 0.4rem;
	line-height: 1;
	clip-path: inset(0 0 round 3rem);
	transition: color 0.1s;
	color: var(--color-light);
}

.base-nav__link::after {
	content: " ";
	display: block;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0, 0);
	background: var(--color-accent);
	height: 0%;
  padding: 50% 0;
	width: 100%;
	border-radius: 50%;
	transition: transform 0.2s cubic-bezier(0.0, 0.2, 0.2, 1.0);
}

.base-nav__link:hover,
.base-nav__link:focus {
	color: var(--color-dark);
}

.base-nav__link:hover::after,
.base-nav__link:focus::after {
	transform: translate(-50%, -50%) scale(1, 1);
}