/* Base layout */
p,
ul,
h2,
h3,
dl,
blockquote {
	max-width: var(--max-width);
	margin-left: auto;
	margin-right: auto;
	padding-left: 4rem;
	padding-right: 4rem;
}

@media all and (max-width: 48rem) {
	p,
	ul,
	h2,
	h3,
	dl,
	blockquote {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media all and (max-width: 34rem) {
	p,
	ul,
	h2,
	h3,
	dl,
	blockquote {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

h1 {
    padding-left: 4rem;
	padding-right: 4rem;
}
    
@media all and (max-width: 48rem) {
	h1 {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media all and (max-width: 34rem) {
	h1 {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}