html {
  font-size: 1rem;
  position: relative;
}

@media all and (min-width: 360px) {
  html {
    font-size: calc(1rem + 8 * (100vw - 360px) / (1280 - 360));
  }
}

@media all and (min-width: 1280px) {
  html {
    font-size: 1.5rem;
  }
}

/* Baseline grid, disable when not checking vertical rhythm */
/*
body::before {content: " ";position: absolute;top:0;bottom:0;left:0;right:0;background:linear-gradient(to bottom, rgba( 32,160,255,.35 ) 1px, transparent 1px);background-size:100% 0.5rem;z-index:1;}
*/

/* Typography */

h1 {
  font-size: 4.5rem;
  line-height: 4.5rem;
  padding-top: calc((2.5rem - 1ex) / 2);
  padding-bottom: calc(0.5rem - ((1.5rem - 1ex) / 2));
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-title);
  text-transform: lowercase;
	transform: rotate(-2.5deg) translateY(-0.5rem);
	color: var(--color-accent);
}

@media all and (max-width: 36rem) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    padding-top: calc((5.5rem - 1ex) / 2);
  }
}

@media all and (max-width: 24rem) {
  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding-top: calc((4.5rem - 1ex) / 2);
  }
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  padding-top: calc((6rem - 1ex) / 2);
  margin-top: 0;
  margin-bottom: calc(1.5rem - ((2rem - 1ex) / 2));
}

.intro + h2 {
  padding-top: 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-top: calc((1.5rem - 1ex) / 2);
  margin-top: 1.5rem;
  margin-bottom: calc(1.5rem - ((1.5rem - 1ex) / 2));
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding-top: calc((1.5rem - 1ex) / 2);
  margin-top: 0;
  margin-bottom: calc(1.5rem - ((1.5rem - 1ex) / 2));
}

a {
  color: var(--color-dark);
}

a:hover,
a:focus {
  color: var(--color-dark);
}

mark,
code,
kbd,
samp {
  padding: 0.2rem 0.2rem 0;
  border-radius: var(--border-radius);
}

mark {
  background-color: var(--color-accent);
}

kbd,
code,
samp {
  background-color: var(--color-dark);
  color: var(--color-dark);
}

cite {
  font-style: italic;
}

dl {
	display: grid;
  align-items: start;
	grid-template-columns: min-content 1fr;
  column-gap: 0.25rem;
  row-gap: 0.5rem;
  margin: 0 0 2rem;
}

dt,
dd {
  font-size: 1rem;
  margin: 0;
}

dt {
  padding: 0.1rem 0.4rem 0;
  line-height: 1.1rem;
  text-align: center;
  border: 0.1rem solid;
  border-radius: var(--border-radius);
  color: var(--color-dark);
  border-color: var(--color-shadow);
}

dt + dd {
  margin-left: 0.25rem;
}

p {
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

li {
  display: inline-block;
  list-style: circle;
}

li::before {
  content: "•";
  margin-right: 0.5rem;
}

p + p,
p + ul,
ul + p,
ul + ul,
p + blockquote, 
ul + blockquote,
blockquote + p,
blockquote + ul {
  margin-top: 1rem;
}

nav {
  margin: 1rem 0;
}

nav ul {
  flex-direction: row;
  padding: 0;
  gap: 1rem;
}

nav li::before {
  content: none;
}
