/* VARIABLES */

:root {

  /* Font-families */
  --font-body: "Maniflont Grotesk Web",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-title: "Augillion Web", "Times New Roman", serif;

  /* Colours */
  --color-light: #faf5d6;
  --color-shadow: #7B974E;
  --color-medium: #4A7124;
  --color-dark: #074D0E;
  --color-accent: #F5EC3D;

  /* Sizes */
  --max-width: 48rem;

  /* Decorative values */
  --border-radius: 0.25rem;
}