/* Import variables, reset and base styles */
@import "_variables.css";
@import "_fonts.css";
@import "_reset.css";
@import "_base.css";
@import "_typography.css";
@import "_layout.css";

/* Import styles for sections and components */

@import "_header.css";
@import "_footer.css";
@import "_components.css";

/* Global grain */
.grain {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: repeat url("/assets/images/grain.png");
	background-size: 4rem auto;
	pointer-events: none;
}