
<footer class="base-footer">
  <div class="base-footer__wrapper">
    <nav class="base-footer__nav" aria-label="Secondary">
      <ul class="base-footer__links">
        <li><a href="/">Home</a></li>
        <li><a href="/sitemap">Sitemap</a></li>
        <li><a class="mail-link" href="mailto:hello@njoqi.me">Email me</a></li>
      </ul>
      <a class="base-footer__anchor button" href="#">Return to top ↑</a>
    </nav>
    <div class="base-footer__webrings">
      <p class="base-footer__text">
        <img class="xxiivv-logo" alt="" src="/assets/webring-xxiivv-logo.svg" height="32" width="32" />Member of the <a href="https://webring.xxiivv.com/">XXIIVV webring</a>
      </p>
    </div>
    <p class="base-footer__text">
      <small>
        This website aims to be <a href="https://www.websitecarbon.com/website/njoqi-me/">energy efficient</a>.
      </small>
    </p>
    <p class="base-footer__text">
      <small>
        Set in <a href="https://github.com/njoqi/Maniflont-Grotesk">Maniflont Grotesk</a> and <a href="https://www.myfonts.com/fonts/sarid-ezra/augillion/">Augillion</a>.
      </small>
    </p>
    <p class="base-footer__text">
      <small>
        Website and contents <a href="https://creativecommons.org/publicdomain/zero/1.0/"><abbr title="Creative Commons Zero Public Domain Dedication">CC0</abbr></a> (unless specified otherwise).
      </small>
    </p>
    <p class="base-footer__text">
      <small>
        <a href="https://codeberg.org/njoqi/njoqi-wiki">Source code</a> available on Codeberg and <a href="https://unlicense.org/">unlicensed</a>.
      </small>
    </p>
  </div>
</footer>