<header class="base-header">
  <div class="base-header__wrapper">
    <span aria-hidden="true" class="base-header__title-left">
      njoqi
    </span>
    <nav class="base-nav" aria-label="Main">
      <a class="base-header__link base-header__link-logo" href="/">
        <svg class="base-header__logo" viewBox="0 0 32 32" width="50" height="50" role="img">
          <title>njoqi</title>
          <use xlink:href="/assets/njoqi-logo.svg#logo" />
        </svg>
      </a>
      <ul class="base-nav__list">
        {for item in menuList}
        <li class="base-nav__item">
          <a class="base-nav__link" href="{item.path}">
            {item.name}
          </a>
        </li>
        {/for}
      </ul>
    </nav>
    <span aria-hidden="true" class="base-header__title-right">
      njoqi
    </span>
  </div>
</header>